name: Bash Script Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  #push:
   # branches: [ "main" ]
  #pull_request:
   # branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions:
  id-token: write #Write permission required to authenticate with OIDC
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  CreateCategoryReport:
    runs-on: ubuntu-latest
    environment: ECS
    steps:
      - name: Checkout Current Repo
        uses: actions/checkout@v6
        with:
          repository: IsaiahA17/SikrakenDevOps
          path: SikrakenDevOps

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.EC2_ACCESS_ROLE_ARN }}
          aws-region: eu-west-1

      #Retrieving all category results, will find specific one if too slow
      - name: Download Category Results From S3
        run: |
          mkdir -p category_results
          aws s3 cp s3://${{ secrets.S3_BUCKET_NAME }}/${{ vars.CATEGORY }}/ category_results/ --recursive

      - name: Make Report Script Executable
        run: |
          chmod +x SikrakenDevOps/ReportScripts/create_category_test_run_table.sh

      - name: List Directories
        run: ls category_results
          
      - name: Generate HTML Report
        run: |
          TIMESTAMP_DIR=$(find category_results -mindepth 1 -maxdepth 1 -type d -printf "%f\n" | sort -r | head -n 1)
          TIMESTAMP_DIR="category_results/$TIMESTAMP_DIR"
          cat $TIMESTAMP_DIR/benchmark_files/* > $TIMESTAMP_DIR/benchmark_files.txt
          
          echo "Timestamp dir: $TIMESTAMP_DIR"

          SikrakenDevOps/ReportScripts/create_category_test_run_table.sh "$TIMESTAMP_DIR"

          echo "timestamp_dir=$TIMESTAMP_DIR" >> $GITHUB_OUTPUT
        id: generate-report

      - name: Upload Report HTML To S3
        run: |
          TIMESTAMP_DIR="${{ steps.generate-report.outputs.timestamp_dir }}"
          TIMESTAMP_NAME=$(basename "$TIMESTAMP_DIR")
          aws s3 cp "$TIMESTAMP_DIR/category_test_run_results.html" \
            s3://${{ secrets.S3_BUCKET_NAME }}/${{ vars.CATEGORY }}/$TIMESTAMP_NAME/category_test_run_results.html
