name: Deploy To EC2

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
 # push:
  #  branches: [ "main" ]
  #pull_request:
   # branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions:
  id-token: write #Write permission required to authenticate with OIDC
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ConnectToEC2:
    runs-on: ubuntu-latest
    
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main 
        with:
          role-to-assume: arn:aws:iam::713141626063:role/GitHub-Actions-EC2-Access
          aws-region: eu-west-1
      - name: Start EC2
        uses: flyweightrocks/aws-ec2-action@v1
        with:
          instance-id: i-0278ae4c0ea327fb9
          wait-instance-running: true
          stop-instance: false
      - name: Run Commands
        run: |
          aws ssm start-session --target ${{ secrets.AWS_INSTANCE_ID }} 
          --document-name AWS-StartNonInteractiveCommand 
          --parameters '{"command": ["mkdir testfolder"]}'
      
