name: Deploy To EC2

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
 # push:
  #  branches: [ "main" ]
  #pull_request:
   # branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions:
  id-token: write #Write permission required to authenticate with OIDC
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ConnectToEC2:
    runs-on: ubuntu-latest
    
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main 
        with:
          role-to-assume: ${{ secrets.EC2_ACCESS_ROLE_ARN }}
          aws-region: eu-west-1
      - name: Start EC2
        uses: flyweightrocks/aws-ec2-action@v1
        with:
          instance-id: ${{ secrets.EC2_INSTANCE_ID }}
          wait-instance-running: true
          stop-instance: false
      - name: Run Commands
        run: | #Maybe Place Commands in Bash Script instead to make this neater
          #aws ssm send-command --document-name "AWS-RunShellScript" --parameters 'commands=["cd /home/ubuntu/Sikraken",
          #"git pull",
          #""/home/ubuntu/Sikraken/SikrakenDevSpace/bin/test_category_sikraken.sh" "cd /home/ubuntu/PipelineScripts/SikrakenDevSpace/categories/ECA" ECA 4 10 debug -no_testcov", 
          #"cd /home/ubuntu/PipelineScripts/SikrakenDevSpace/categories/ECA", 
          #"cd /home/ubuntu/test-suite-validator/myenv", 
          #"aws s3 sync "$recent_ECA_folder" "s3://testcov-results-bucket/$recent_ECA_folder"
          #"python testcov --no-isolation -32 --test-suite /home/ubuntu/Sikraken/sikraken_output/simple_if/test-suite/test-suite.zip /home/ubuntu/Sikraken/SampleCode/simple_if.c",
          #"cd /home/ubuntu/test-suite-validator/bin/output",
          #"aws s3 cp results.json s3://testcov-results-bucket/Results/"]' --targets "Key=instanceids,Values=${{ secrets.EC2_INSTANCE_ID }}"
      - name: Invoke Lambda Function For Processing
        run: |
          aws lambda invoke --function-name ${{ secrets.LAMBDA_NAME }} \
          --cli-binary-format raw-in-base64-out \
          --payload '{ }' response.json
          
      - name: Stop EC2 #Keeping this commented for further testing to check the results of the pipeline commands
        uses: flyweightrocks/aws-ec2-action@v1
        with:
          instance-id: ${{ secrets.EC2_INSTANCE_ID }}
          wait-instance-running: false
          stop-instance: true
