name: Deploy To EC2

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
permissions:
  id-token: write #Write permission required to authenticate with OIDC
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ConnectToEC2:
    runs-on: ubuntu-latest
    
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main 
        with:
          role-to-assume: ${{ secrets.EC2_ACCESS_ROLE_ARN }}
          aws-region: eu-west-1
          
      - name: Start EC2
        run: | 
          aws ec2 start-instances --instance-ids ${{ secrets.EC2_INSTANCE_ID }}

      - name: Wait For EC2 To Run
        run: | 
          aws ec2 wait instance-running \
          --instance-ids ${{ secrets.EC2_INSTANCE_ID }}

      - name: Test SSM user
        run: |
          command_id=$(aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --parameters "commands=[\"echo Running as:\", \"whoami\", \"id\", \"pwd\"]" \
            --targets "Key=instanceIds,Values=${{ secrets.EC2_INSTANCE_ID }}" \
            --query "Command.CommandId" \
            --output text)

          # Wait for it
          while true; do
            status=$(aws ssm list-command-invocations \
              --command-id "$command_id" \
              --query "CommandInvocations[0].Status" \
              --output text)

            if [[ "$status" != "InProgress" ]]; then break; fi
            sleep 3
          done

          # Print SSM output
          aws ssm list-command-invocations \
            --command-id "$command_id" \
            --details \
            --query "CommandInvocations[0].CommandPlugins[0].Output" \
            --output text

      - name: Invoke Lambda Function For Processing
        run: |
          aws lambda invoke --function-name ${{ secrets.LAMBDA_NAME }} \
          --cli-binary-format raw-in-base64-out \
          --payload '{ }' response.json
          URL=$(jq -r '.body | fromjson | .url' response.json) #Using the jq JSON command line processor to isolate the value of the url key
          echo "$URL" | awk -F '?' '{print $1}' #Using the text processor awk to try and remove the unnecessary parts of the html url
                
      - name: Stop EC2 #Keeping this commented for further testing to check the results of the pipeline commands
        run: |
           aws ec2 stop-instances \
            --instance-ids ${{ secrets.EC2_INSTANCE_ID }}
